    <div class="well">
        <ul class="nav nav-list">
            <li>
                <i class="icon-refresh">
                <a href="{{ path('store') }} ">Tous les genres</a>
                </i>
            </li>
        </ul>
    </div>