

    {{ form_start(form) }}
    <div class="col-sm-12"><div class="col-sm-6">
            {{ form_widget(form.titre, { 'attr': {'class': 'form-control'} }) }}</div><div class="col-sm-2">  <input type="submit" value="ajouter" class="btn btn-sm btn-info"/></div></div>


    {{ form_end(form) }}


