{% extends "ForumBundle::layout.html.twig" %}
  {% block head %}
      <title>{% block title %} Home {% endblock %}</title>

      <meta name="format-detection" content="telephone=no">
      <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta charset="utf-8">
      <script type="text/javascript" async="" src="https://www.google-analytics.com/plugins/ua/ec.js"></script><script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script async="" src="http://www.googletagmanager.com/gtm.js?id=GTM-P9FT69"></script><script type="text/javascript" async="" src="https://ssl.google-analytics.com/ga.js"></script><script async="" src="http://ajax.cloudflare.com/cdn-cgi/nexp/dok3v=f2befc48d1/cloudflare.min.js"></script><script type="text/javascript">
      //<![CDATA[
      try{if (!window.CloudFlare) {var CloudFlare=[{verbose:0,p:0,byc:0,owlid:"cf",bag2:1,mirage2:0,oracle:0,paths:{cloudflare:"/cdn-cgi/nexp/dok3v=1613a3a185/"},atok:"0990115ae424311cc566aeef9cb33b2c",petok:"9fd8cda7d76103856269ff3579befa5188ebf83e-1488990843-1800",zone:"template-help.com",rocket:"0",apps:{"abetterbrowser":{"ie":"7"}}}];!function(a,b){a=document.createElement("script"),b=document.getElementsByTagName("script")[0],a.async=!0,a.src="http://ajax.cloudflare.com/cdn-cgi/nexp/dok3v=f2befc48d1/cloudflare.min.js",b.parentNode.insertBefore(a,b)}()}}catch(e){};
      //]]>
  </script>
      {% block stylesheet %}
          <link rel="icon" href="{{ asset('images/favicon.ico') }}" type="image/x-icon">

          <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat:400,500,700%7CUbuntu:300,300italic,400,500,700">
          <link rel="stylesheet" href="{{ asset('css/style.css') }}">
          <!--[if lt IE 10]>

          <![endif]-->
      {% endblock %}

  {% endblock %}
   {% block content %}
       <br><br><br><br>
       <h1></h1>
       <br><br><br>
       {% block formulaire %}
       {% block fos_user_content %}
           {{ include('@FOSUser/Security/login_content.html.twig') }}


       {% endblock fos_user_content %}
       <br><br><br><br><br><br><br><br><br>
       {% endblock %}
   {% endblock %}



