{{ form_start(edit_form) }}
<div class="col-sm-12"><div class="col-sm-6">
        {{ form_widget(edit_form.titre, { 'attr': {'class': 'form-control'} }) }}</div><div class="col-sm-2">  <input type="submit" value="modifier Categorie" class="btn btn-sm btn-info"/></div></div>


{{ form_end(edit_form) }}