{{ form_start(form) }}
                        {{ form_widget(form) }}
<div class="col-sm-6">
    {{ form_widget(form.titre, { 'attr': {'class': 'form-control'} }) }}</div><div class="col-sm-2">  <input type="submit" value="modifier Categorie" class="btn btn-sm btn-info"/></div>

{{ form_end(form) }}
